build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/ALL_BUILD.vcxproj.user
build/cmake_install.cmake
build/CMakeCache.txt
build/config.json
build/SimpleDNN.sln
build/SimpleDNN.vcxproj
build/SimpleDNN.vcxproj.filters
build/SimpleDNN.vcxproj.user
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.vs/cmake.db
build/.vs/SimpleDNN/v16/.suo
build/.vs/SimpleDNN/v16/Browse.VC.db
build/.vs/SimpleDNN/v16/Browse.VC.db-shm
build/.vs/SimpleDNN/v16/Browse.VC.db-wal
build/.vs/SimpleDNN/v16/Browse.VC.opendb
build/.vs/SimpleDNN/v16/Solution.VC.db
build/.vs/SimpleDNN/v16/Solution.VC.db-shm
build/.vs/SimpleDNN/v16/Solution.VC.db-wal
build/.vs/SimpleDNN/v16/ipch/AutoPCH/25efe679c232ca82/MAIN.ipch
build/.vs/SimpleDNN/v16/ipch/AutoPCH/443431411dbc5960/DLIBNETWORK.ipch
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeError.log
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.18.2/CMakeCCompiler.cmake
build/CMakeFiles/3.18.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.18.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.18.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.18.2/CMakeRCCompiler.cmake
build/CMakeFiles/3.18.2/CMakeSystem.cmake
build/CMakeFiles/3.18.2/VCTargetsPath.txt
build/CMakeFiles/3.18.2/VCTargetsPath.vcxproj
build/CMakeFiles/3.18.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.18.2/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.18.2/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.18.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.18.2/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.18.2/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.18.2/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.18.2/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/a8d0cb661bc36e4a7fc4e9f9e8e460b7/generate.stamp.rule
build/CMakeFiles/SimpleDNN_autogen.dir/AutogenInfo.json
build/CMakeFiles/SimpleDNN_autogen.dir/AutogenUsed_Debug.txt
build/CMakeFiles/SimpleDNN_autogen.dir/ParseCache_Debug.txt
build/Debug/config.json
build/Debug/opencv_bgsegm450d.dll
build/Debug/opencv_calib3d450d.dll
build/Debug/opencv_core450d.dll
build/Debug/opencv_dnn450d.dll
build/Debug/opencv_features2d450d.dll
build/Debug/opencv_flann450d.dll
build/Debug/opencv_highgui450d.dll
build/Debug/opencv_imgcodecs450d.dll
build/Debug/opencv_imgproc450d.dll
build/Debug/opencv_stitching450d.dll
build/Debug/opencv_tracking450d.dll
build/Debug/opencv_video450d.dll
build/Debug/opencv_videoio450d.dll
build/Debug/Qt5Cored.dll
build/Debug/SimpleDNN.exe
build/Debug/SimpleDNN.exp
build/Debug/SimpleDNN.ilk
build/Debug/SimpleDNN.lib
build/Debug/SimpleDNN.pdb
build/Debug/translations/qt_ar.qm
build/Debug/translations/qt_bg.qm
build/Debug/translations/qt_ca.qm
build/Debug/translations/qt_cs.qm
build/Debug/translations/qt_da.qm
build/Debug/translations/qt_de.qm
build/Debug/translations/qt_en.qm
build/Debug/translations/qt_es.qm
build/Debug/translations/qt_fi.qm
build/Debug/translations/qt_fr.qm
build/Debug/translations/qt_gd.qm
build/Debug/translations/qt_he.qm
build/Debug/translations/qt_hu.qm
build/Debug/translations/qt_it.qm
build/Debug/translations/qt_ja.qm
build/Debug/translations/qt_ko.qm
build/Debug/translations/qt_lv.qm
build/Debug/translations/qt_pl.qm
build/Debug/translations/qt_ru.qm
build/Debug/translations/qt_sk.qm
build/Debug/translations/qt_uk.qm
build/Debug/translations/qt_zh_TW.qm
build/SimpleDNN.dir/Debug/configreader.obj
build/SimpleDNN.dir/Debug/dlibnetwork.obj
build/SimpleDNN.dir/Debug/main.obj
build/SimpleDNN.dir/Debug/mocs_compilation.obj
build/SimpleDNN.dir/Debug/SimpleDNN.exe.recipe
build/SimpleDNN.dir/Debug/SimpleDNN.log
build/SimpleDNN.dir/Debug/vc142.pdb
build/SimpleDNN.dir/Debug/SimpleDNN.tlog/CL.command.1.tlog
build/SimpleDNN.dir/Debug/SimpleDNN.tlog/CL.read.1.tlog
build/SimpleDNN.dir/Debug/SimpleDNN.tlog/CL.write.1.tlog
build/SimpleDNN.dir/Debug/SimpleDNN.tlog/CustomBuild.command.1.tlog
build/SimpleDNN.dir/Debug/SimpleDNN.tlog/CustomBuild.read.1.tlog
build/SimpleDNN.dir/Debug/SimpleDNN.tlog/CustomBuild.write.1.tlog
build/SimpleDNN.dir/Debug/SimpleDNN.tlog/link.command.1.tlog
build/SimpleDNN.dir/Debug/SimpleDNN.tlog/link.read.1.tlog
build/SimpleDNN.dir/Debug/SimpleDNN.tlog/link.write.1.tlog
build/SimpleDNN.dir/Debug/SimpleDNN.tlog/SimpleDNN.lastbuildstate
build/SimpleDNN.dir/Debug/SimpleDNN.tlog/SimpleDNN.write.1u.tlog
build/SimpleDNN_autogen/mocs_compilation.cpp
build/SimpleDNN_autogen/include_Debug/UVLADIE3JM/moc_dlibnetwork.cpp
build/spdlog/ALL_BUILD.vcxproj
build/spdlog/ALL_BUILD.vcxproj.filters
build/spdlog/cmake_install.cmake
build/spdlog/spdlog.sln
build/spdlog/spdlog.vcxproj
build/spdlog/spdlog.vcxproj.filters
build/spdlog/CMakeFiles/generate.stamp
build/spdlog/CMakeFiles/generate.stamp.depend
build/spdlog/CMakeFiles/spdlog_autogen.dir/AutogenInfo.json
build/spdlog/CMakeFiles/spdlog_autogen.dir/AutogenUsed_Debug.txt
build/spdlog/CMakeFiles/spdlog_autogen.dir/ParseCache_Debug.txt
build/spdlog/Debug/spdlogd.lib
build/spdlog/spdlog.dir/Debug/async.obj
build/spdlog/spdlog.dir/Debug/cfg.obj
build/spdlog/spdlog.dir/Debug/color_sinks.obj
build/spdlog/spdlog.dir/Debug/file_sinks.obj
build/spdlog/spdlog.dir/Debug/fmt.obj
build/spdlog/spdlog.dir/Debug/mocs_compilation.obj
build/spdlog/spdlog.dir/Debug/spdlog.log
build/spdlog/spdlog.dir/Debug/spdlog.obj
build/spdlog/spdlog.dir/Debug/spdlog.pdb
build/spdlog/spdlog.dir/Debug/spdlogd.lib.recipe
build/spdlog/spdlog.dir/Debug/stdout_sinks.obj
build/spdlog/spdlog.dir/Debug/spdlog.tlog/CL.command.1.tlog
build/spdlog/spdlog.dir/Debug/spdlog.tlog/CL.read.1.tlog
build/spdlog/spdlog.dir/Debug/spdlog.tlog/CL.write.1.tlog
build/spdlog/spdlog.dir/Debug/spdlog.tlog/CustomBuild.command.1.tlog
build/spdlog/spdlog.dir/Debug/spdlog.tlog/CustomBuild.read.1.tlog
build/spdlog/spdlog.dir/Debug/spdlog.tlog/CustomBuild.write.1.tlog
build/spdlog/spdlog.dir/Debug/spdlog.tlog/Lib-link.read.1.tlog
build/spdlog/spdlog.dir/Debug/spdlog.tlog/Lib-link.write.1.tlog
build/spdlog/spdlog.dir/Debug/spdlog.tlog/Lib.command.1.tlog
build/spdlog/spdlog.dir/Debug/spdlog.tlog/spdlog.lastbuildstate
build/spdlog/spdlog_autogen/mocs_compilation.cpp
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
